{% extends "conteneur.html" %}

{% block corps %}

<h1>HagiograPY</h1>
<h3>Le site des hagiographies développé en Python</h3>
<p>Ce site recense des <em>Vies de saints</em> issues de recueils hagiographiques. Pour chaque saint recensé, un lien donne accès au manuscrit contenant la Vie de saint ainsi que vers le <a href="https://developer.mozilla.org/fr/docs/Mozilla/Add-ons/WebExtensions/manifest.json">manifeste JSON</a> correspondant.<br/>Le visualiseur <a href="https://openseadragon.github.io/">Openseadragon</a> permet de consulter l'image numérique de la page concernée en haute résolution grâce à l'<a href="https://iiif.io/">International Image Interoperability Framework (IIIF)</a>.<br/>
Les internautes sont invités à enrichir la base en ajoutant des œuvres grâce au formulaire dédié.<br/>
    <p>L'enrichissement de la base nécessite une inscription préalable pour laquelle vous sont demandés :
    <ul>
    <li>un login ;</li>
    <li>votre nom ;</li>
    <li>votre email ;</li>
    <li>un mot de passe.</li>
</ul>
</p>
<p>La base de données recense :
<ul>
    <li>des <a href="{{url_for('index_vies')}}">vies de saints</a> issues de recueils hagiogaphiques ;</li>
    <li>une courte <a href="{{url_for('index_saints')}}">biographie</a> des saints considérés ;</li>
    <li>la liste des <a href="{{url_for('index_mss')}}">manuscrits</a> contenant les hagiographies ;</li>
    <li>la liste des <a href="{{url_for('index_bib')}}">institutions</a> conservant les manuscrits.</li>
</ul>
<br/>
</p>

{% endblock %}

