{% extends "conteneur.html" %}

{% block titre %}| Formulaire{%endblock%}

{% block corps %}

    <div class="col-md-12 text-center">
    <a href="{{url_for('formulaire')}}"name="singlebutton" class="btn btn-primary" type="button">Formulaire d'ajout général</a>
    </div>

    <nav class=" navbar navbar-light bg-light">
    <form class="form-inline">
        <a href="{{url_for('formulaire_saint')}}" class="btn btn-sm btn-outline-secondary" type="button">Formulaire Saint</a>
        <a href="{{url_for('formulaire_oeuvre')}}"  class="btn btn-sm btn-outline-secondary" type="button">Formulaire Oeuvre</a>
        <a href="{{url_for('formulaire_manuscrit')}}" class="btn btn-sm btn-outline-secondary" type="button">Formulaire Manuscrit</a>
        <a href="{{url_for('formulaire_realisation')}}" class="btn btn-sm btn-outline-secondary" type="button">Formulaire Realisation</a>
        <a href="{{url_for('formulaire_institution')}}" class="btn btn-sm btn-outline-secondary" type="button">Formulaire Institution</a>
    </form>

    </nav>



<h1>Formulaire</h1>
<p>Complétez le formulaire et cliquez sur Ajouter.</p>
<form class="form dropdown " method="POST" action="{{url_for('formulaire')}}">
    <div class="panel panel-info">
        <div class="form-group row">
            <label for="register-Nom_saint" class="col-sm-2 col-form-label">Nom du Saint* :</label>
            <div class="col-sm-10">
                <select type="text" class="form-control" name="Saint" id="Listenomsaint" >
                {% for nomSaint in Listenomsaint %}
                    <option  value="{{nomSaint.Nom_saint}}">{{nomSaint.Nom_saint}}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <h4>Oeuvre</h4>
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div   class="col-md-6 col-xs-12">
                    <strong>Titre* :</strong>
                    <select type="text" name="Titre" list=", Listetitrereal" class="form-control" value="">
                        {% for oeuvre in Listetitrereal %}
                            <option value="{{ oeuvre.Titre }}">{{ oeuvre.Titre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="span1"></div>
                <div class="col-md-6 col-xs-12">
                    <strong>Auteur :</strong>
                    <select type="text" name="Auteur" list="Listeauteur" class="form-control" value="" >
                        {% for oeuvre in Listeauteur %}
                            <option value="{{ oeuvre.Auteur }}">{{ oeuvre.Auteur }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Langue* :</strong>
                    <select type="text" name="Langue" list="Listelangue" class="form-control" value="">
                        {% for oeuvre in Listelangue %}
                            <option value="{{ oeuvre.Langue }}">{{ oeuvre.Langue }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="span1"></div>
                <div class="col-md-6 col-xs-12">
                    <strong>Incipit* :</strong>
                    <select type="text" name="Incipit" list="Listeincipit" class="form-control" value="" >
                        {% for incipit in Listeincipit %}
                            <option value="{{ incipit.Incipit }}">{{ incipit.Incipit}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Explicit* :</strong>
                    <select type="text" name="Explicit" list="Listeexplicit" class="form-control" value="" >
                        {% for explicit in Listeexplicit %}
                            <option value="{{ explicit.Explicit }}">{{ explicit.Explicit}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="span1"></div>
                <div class="col-md-6 col-xs-12">
                    <strong>Folios* :</strong>
                    <select type="text" name="Folios" list="Listefolios" class="form-control" value="" >
                        {% for folios in Listefolios %}
                            <option value="{{ folios.Folios }}">{{ folios.Folios}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>URL Site* :</strong>
                    <select type="text" name="Lien_site" list="ListeURL" class="form-control" value="" >
                        {% for url in ListeURL %}
                            <option value="{{ url.URL }}">{{ url.URL }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="span1"></div>
                <div class="col-md-6 col-xs-12">
                    <strong>Lien IIIF* :</strong>
                    <select type="text" name="IIIF" list="Listeiiif" class="form-control" value="" >
                        {% for iiif in Listeiiif %}
                            <option value="{{ iiif.IIIF }}">{{ iiif.IIIF }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Date de production* :</strong>
                    <select type="text" name="Date_production" list="Listedateprod" class="form-control" value="" >
                        {% for dateprod in Listedateprod %}
                            <option value="{{ dateprod.Date_production }}">{{ dateprod.Date_production }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="span1"></div>
                <div class="col-md-6 col-xs-12">
                    <strong>Lieu de production* :</strong>
                    <select type="text" name="Lieu_production" list="Listelieuprod" class="form-control" value="">
                        {% for lieuprod in Listelieuprod %}
                            <option value="{{ lieuprod.Lieu_production }}">{{ lieuprod.Lieu_production }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Copiste:</strong>
                    <select type="text" name="Copiste" list="Listecopiste" class="form-control" value="" >
                        {% for copiste in Listecopiste %}
                            <option value="{{ copiste.Copiste}}">{{ copiste.Copiste }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div>

            <div class="col-md-12">
                <h4>Manuscrit</h4>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Cote* :</strong>
                    <select type="text" name="Cote" list="Listecote" class="form-control" value="" >
                        {% for cote in Listecote %}
                            <option value="{{ cote.Cote}}">{{ cote.Cote }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="span1"></div>
                <div class="col-md-6 col-xs-12">
                    <strong>Titre* :</strong>
                    <select type="text" name="Titre_Manuscrit" list="Listetitremanuscrit" class="form-control" value="">
                        {% for titrem in Listetitremanuscrit %}
                            <option value="{{ titrem.Titre}}">{{ titrem.Titre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Nombre de feuillets* :</strong>
                    <select type="text" name="Nb_feuillets" list="Listenbfeuillet" class="form-control" value="" >
                    {% for nbfeuillet in Listenbfeuillet%}
                            <option value="{{ nbfeuillet.Nb_feuillets}}">{{ nbfeuillet.Nb_feuillets }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="span1"></div>
                <div class="col-md-6 col-xs-12">
                    <strong>Provenance :</strong>
                    <select type="text" name="Provenance" list="Listeprovenance" class="form-control" value="" >
                    {% for provenance in Listeprovenance%}
                            <option value="{{ provenance.Provenance}}">{{provenance.Provenance}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Support* :</strong>
                    <select type="text" name="Support" list="Listesupport" class="form-control" value="" >
                        {% for support in Listesupport%}
                            <option value="{{ support.Support}}">{{ support.Support}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="span1"></div>
                <div class="col-md-6 col-xs-12">
                    <strong>Hauteur* :</strong>
                    <select type="text" name="Hauteur" list="Listehauteur" class="form-control" value="" >
                        {% for hauteur in Listehauteur%}
                            <option value="{{ hauteur.Hauteur}}">{{ hauteur.Hauteur}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Largeur* :</strong>
                    <select type="text" name="Largeur" list="Listelargeur" class="form-control" value="">
                        {% for largeur in Listelargeur%}
                            <option value="{{ largeur.Largeur}}">{{ largeur.Largeur}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="span1"></div>
                <div class="col-md-6 col-xs-12">
                    <strong>Institution* :</strong>
                    <select type="text" name="Institution" list=", Listeinstitution" class="form-control" value="" >
                        {% for institution in Listeinstitution%}
                            <option value="{{ institution.Nom_institution}}">{{ institution.Nom_institution}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row flex-v-center">
                <div class="col-md-6 col-xs-12">
                    <strong>Localisation* :</strong>
                    <select type="text" name="Localisation" list=", Listelocalisation" class="form-control" value="">
                        {% for localisation in Listelocalisation%}
                            <option value="{{ localisation.Ville}}">{{ localisation.Ville}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

        </div>
    </div>
    <div>
        <p>* Obligatoire pour la validation du formulaire</p>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </div>
</form>
{% endblock %}