<!DOCTYPE html>
<html lang="fr">

<head>
        <meta charset="UTF-8">
        <title>HagiograPY {%block titre %}{%endblock%}</title>
        {% include "partials/css.html" %}
        {% include "partials/metadata.html" %}

        <style type="text/css">
            #banner  {
                background-position: center center;
                padding:10vh;
                background-image: url({{url_for("static", filename="images/testimage.jpg")}});
                background-size: cover, auto;
            }
        </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between" role="navigation">
        <span><a class="navbar-brand" href="{{ url_for('accueil') }}"><img src="{{url_for("static", filename="images/logo.jpg")}}" width="40" height="40" class="d-inline-block align-top" alt="logo"></span>HagiograPY</a>
        <div class="container-fluid">
            <ul class="navbar-nav mr-auto">
            {% if not current_user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link" href="{{url_for('rechercheavancee')}}">Recherche avancée</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('inscription')}}">Inscription</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('connexion')}}">Connexion</a>
              </li>
            {% else %}
                <li class="nav-item">
                <a class="nav-link" href="{{url_for('rechercheavancee')}}">Recherche avancée</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('formulaire')}}">Formulaire</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('deconnexion')}}">Déconnexion ({{current_user.user_nom}})</a>
              </li>
            {% endif %}
            </ul>
             <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/Chartes-TNAH/hagiograpy"><img src="{{url_for("static", filename="images/octocat.png")}}" width="30" height="30" class="d-inline-block align-top" alt="github">   </a>
    </li>
                 <li class="nav-item">
      <a class="nav-link" href="{{url_for('about')}}">À propos</a>
    </li>
    </li>
  </ul>
        </div>
    </nav>

      <div class="jumbotron jumbotron-fluid" style="height: 250px"  id="banner">
          <!--Search Bar-->
              <form class="form-inline text-center" action="{{url_for('recherche')}}"  method = "GET"   >
                  <input class="form-control" name="keyword"  type="text" placeholder="Recherche rapide">
                  <button class="btn btn-dark" type="submit" >Rechercher</button>
              </form>
      </div>


        </div>
      {% block afternav %}{%endblock%}
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div class="row">
              <div class="col">
                {% for category, message in messages %}
                  <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
                {% endfor %}
              </div>
          </div>
          {% endif %}
        {% endwith %}

        <div class="row">
            <div class="col">
            {% block corps %}{% endblock %}
            </div>
          </div>
      </div>

</body>

<!-- Footer -->
<footer class="page-footer font-small lighten-3 pt-4 text-white bg-dark">
  <!-- Footer Elements -->
  <div class="container">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">
        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="{{url_for("static", filename="images/191.jpg")}}" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">
        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="{{url_for("static", filename="images/146.jpg")}}" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">
        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="{{url_for("static", filename="images/133.jpg")}}" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">
        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="{{url_for("static", filename="images/183.jpg")}}" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">
        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="{{url_for("static", filename="images/173.jpg")}}" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="{{url_for("static", filename="images/160.jpg")}}" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
      <p>© HagiograPY - TNAH, prom. 2019 - <a class="nav-link" href="{{url_for('cgu')}}">CGU</a><p/>
      <a href="http://www.chartes.psl.eu/fr/cursus/master-technologies-numeriques-appliquees-histoire"><img src="http://www.chartes.psl.eu/sites/all/themes/enc_base/images/public/logo-ecole-nationale-des-chartes-header.png" class="img-fluid" alt="" width="150"></a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</html>
