<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Hagiograpy {%block titre %}{%endblock%}</title>
        {% include "partials/css.html" %}
        {% include "partials/metadata.html" %}

        <style type="text/css">
            #banner  {
                background-position: center center;
                padding:10vh;
                background-image: url({{url_for("static", filename="images/testimage.jpg")}});
                background-size: cover, auto;
            }
        </style>

    </head>

    <body>

      <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
          <a class="navbar-brand" href="{{ url_for('accueil') }}">Hagiograpy</a>

          <ul class="navbar-nav mr-auto">
            {% if not current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('inscription')}}">Inscription</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('connexion')}}">Connexion</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('deconnexion')}}">Déconnexion ({{current_user.user_nom}})</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>

         <div class="jumbotron jumbotron-fluid" style="height: 200px"  id="banner">
             <!--Search Bar-->
             <form class="form-inline text-center" method = "GET"   >
                 <input class="form-control" name="query"  type="text" placeholder="Recherche rapide">
                 <button class="btn btn-dark" type="submit" >Rechercher</button>
             </form>
            <div class="container">
            </div>
        </div>

      {% block afternav %}{%endblock%}

      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div class="row">
              <div class="col">
                {% for category, message in messages %}
                  <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
                {% endfor %}
              </div>
          </div>
          {% endif %}
          {% endwith %}
          <div class="row">
            <div class="col">
            {% block corps %}{% endblock %}
            </div>
          </div>
      </div>

    </body>

</html>