{% extends "conteneur.html" %}

{% block corps %}

<h1>Conditions générales d'utilisation</h1>
<p>
    Les données collectées via le site ne font l'objet d'aucun traitement de la part de l'éditeur du site.</p>
<p>
    Conformément à la loi dite « informatique et libertés » n° 78-17 du 6 janvier 1978 modifiée, chaque utilisateur dispose d’un droit d’accès et de rectification des données le concernant ainsi que d’un droit d’opposition, pour motifs légitimes, à ce que ces données fassent l’objet d’un traitement par l'éditeur du site.</p>

<a>
    L’utilisateur peut dès lors exiger que les données le concernant détenues par l'éditeur lui soient communiquées et soient rectifiées, complétées, clarifiées, mises à jour ou, le cas échéant, effacées.
    Ces droits peuvent être exercés par l’internaute en contactant le <a href="mailto:clement.andrieux@chartes.psl.eu">correspondant</a> informatique et libertés de l'éditeur en lui précisant expressément qu’il exerce ses droits dans le cadre du présent texte.
L'éditeur s'engage à mettre en œuvre et à faire appliquer les mesures de sécurité qu'elle juge nécessaires en vue d'assurer la confidentialité des données collectées sur le Site pendant la durée nécessaire à leur traitement, conformément à la loi « informatique et libertés » précitée.
Ainsi, un système de cryptage est mis en place interdisant à l'éditeur de connaître le mot de passe et donc de le fournir en cas d'oubli.</p>
 <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>

{% endblock %}

