{% extends "conteneur.html" %}

{% block titre %}
    {%if institution %}| Institution : {{institution.Nom_institution}} {% endif %}
{% endblock %}

{% block corps %}
    {% if institution %}
        <h2>Etablissement</h2>
        <p>{{institution.Nom_institution}}</p>

{% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}
    <p><a href="{{url_for('index_bib')}}">Retour à l'index des institutions</a></p>
    <p><a href="{{url_for('accueil')}}">Retour à la page d'accueil</a></p>
{% endblock %}