{% extends "conteneur.html" %}

{% block titre %}| {{titre}}{%endblock%}

{% block corps %}

    <div class="container">
        <div class="row" style="padding-top:5%;">
            {% if requete %}
        </div>
        <div class="container" style="padding-top:5%;">
            <h3>{{titre}}</h3>
            <p>Nous avons trouvé {{requete.total}} résultats dans notre base correspondant à votre recherche.</p>
            {% if message %}
            <p><strong>Erreur</strong> : {{message}}</p>
            {% endif %}
        <ul>
            {% for individu in requete.items %}
                <li><a href="{{url_for('rechercheavancee'}}"></a></li>
            {% endfor %}
        </ul>
    <nav aria-label="research-pagination">
      <ul class="pagination">
        {%- for page in requete.iter_pages() %}
            {% if page %}
              {% if page != requete.page %}
                <li class="page-item">
                <!-- Il faut déclarer dans notre url_for la page où l'on affiche les résultats, mais également toutes les variables qui ont été récoltées via la fonction .request dans notre
                définition de fonction, similaire à ce que nous avions fait en instanciation de la fonction.-->
                    <a class="page-link" href="{{ url_for('resultats_avances', saint=saint,
                    texte=texte, cote=cote, institution=institution, ville=ville,
                    lieu_prod=lieu_prod, date_prod=date_prod)}}">{{page}}</a>
                </li>
              {% else %}
                <li class="page-item active disabled">
                  <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                </li>
              {% endif %}
            {% else %}
                <li class="page-item disabled">
                  <a class="page-link">...</a>
                </li>
            {% endif %}
        {%- endfor %}
      </ul>
    </nav>
    {% endif %}
    </div>

</div>


{% endblock %}