{% extends "conteneur.html" %}

{% block titre %}
    {%if oeuvre %}| Oeuvre : {{oeuvre.Titre}} {% endif %}
{% endblock %}

{% block corps %}
    {% if oeuvre %}
        <h1>{{oeuvre.Titre}}</h1>
        <dl>
            <dt>Saint</dt><dd>{{saint.Nom_saint}}</dd>
            <dt>Titre</dt><dd>{{oeuvre.Titre}}</dd>
            <dt>Auteur</dt><dd>{{oeuvre.Auteur}}</dd>
            <dt>Langue</dt><dd>{{oeuvre.Langue}}</dd>
            <dt>Incipit</dt><dd>{{oeuvre.Incipit}}</dd>
            <dt>Explicit</dt><dd>{{oeuvre.Explicit}}</dd>
            <dt>Folios</dt><dd>{{oeuvre.Folios}}</dd>
            <dt>URL de la page</dt><dd><a href="{{oeuvre.URL}}.item">{{oeuvre.URL}}.item</a></dd>
            <dt>Manifeste IIIF</dt><dd><a href="{{oeuvre.IIIF}}">{{oeuvre.IIIF}}</a></dd>
        </dl>
        <h2>Manuscrit</h2>
        <dl>
            <dt>Copiste</dt><dd>{{realisation.Copiste}}</dd>
            <dt>Date de production</dt><dd>{{realisation.Date_production}}</dd>
            <dt>Lieu de production</dt><dd>{{realisation.Lieu_production}}</dd>
            <dt>Titre du manuscrit</dt><dd>{{conservation.Titre}}</dd>
            <dt>Cote du manuscrit</dt><dd>{{conservation.Cote}}</dd>
            <dt>Nombre de feuillets</dt><dd>{{conservation.Nb_feuillets}}</dd>
            <dt>Provenance</dt><dd>{{conservation.Provenance}}</dd>
            <dt>Support</dt><dd>{{conservation.Support}}</dd>
            <dt>Dimensions (H x L)</dt><dd>{{conservation.Hauteur}} x {{conservation.Largeur}} mm</dd>
            <dt>Lieu de conservation</dt><dd>{{localisation.Ville}}</dd>
            <dt>Établissement</dt><dd>{{institution.Nom_institution}}</dd>
        </dl>
        <h2>Image</h2>
<!-- La BDD stocke un nom de fichier image (url) sans extension.
L'extension .item est ajoutée ci-dessus pour éviter de n'afficher qu'une page et permettre la navigation
au sein du manuscrit. -->

<!-- Ci-dessous, un manière d'afficher des images où l'on sert un .highres.
Pour respecter les règles d'accessibilité, l'alt et le title de l'image sont fournis.
La taille des images est adaptative - responsive design.

        <p>
            <img src="{{oeuvre.URL}}.highres" class="img-fluid" alt="Responsive image" alt="{{oeuvre.Titre}}" title="{{oeuvre.Titre}}"/>
        </p> -->

<!-- Autre méthode : inclusion du visualiseur OpenSeaDragon -->
<!-- Dès lors que les images n'ont pas été au préalable tuilées et stockées dans static/images, on ne peut appeler des .dzi -->
<div id="openseadragon1" style="width: 800px; height: 600px;"></div>
<script src="../static/openseadragon/scripts/openseadragon.min.js"></script>
<script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "openseadragon1",
        preserveViewport: true,
        visibilityRatio: 1,
        minZoomLevel: 1,
        defaultZoomLevel: 1,
        prefixUrl: "../static/openseadragon/images/",
        tileSources: ["{{oeuvre.IIIF}}"]
    });
</script>

{% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}
    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
{% endblock %}